.gametitle-custom {
    --bs-navbar-color: red;
}
@font-face {
    font-family: 'beaufort';
    src: url(/font/BeaufortforLOL-Bold.otf);
}

body {
    background-image: url(/images/backgroundteemo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    overflow-x: hidden;
    font-family: 'beaufort',sans-serif;
}
.head {
    padding-top:1%;
}

#score {
    padding-top: 2%;
}
#Teemo{
    width: 63%;
    height: auto;
    margin-left: 20%;
    cursor:url('/images/fightingcursor.cur'), auto;
}

#Teemo:active{
    transform: scale(101%) rotate(2deg);
    transition: ease-in-out;
}

.cookie {
    padding-top: 2%;
}
.abilities{
    margin-top: 3%;
}

.off, .on {
    background:linear-gradient(73deg, #020022, #1f6b69);
    border: 1px solid rgb(200, 155, 60);
    color: white;
    border-radius: 7px;
}

.shop, .offcanvas-body,.offcanvas-header {
    background: linear-gradient(73deg, #020022, #1f6b69);
    border: 2px solid rgb(198, 169, 3);
    border-radius: 7px;
    cursor: url('/images/pointerlol.cur'), auto;
}

.shop {
    border-radius: 7px;
}

.Abilities-btn{
    background:linear-gradient(73deg, #020022, #1f6b69);
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(198, 169, 3);
    border-radius: 7px;
}

.Abilities-btn:hover, .dropdown-item:hover {
    border: 1px solid aquamarine;
    cursor: url('/images/pointerlol.cur'), auto;
}

.dropdown-item:hover {
   background:linear-gradient(73deg, #020022, #3dded9);;
}

.off:active, .dropdown-menu{
    background:linear-gradient(73deg, #020022, #3dded9);
}

.Abilities-btn:active {
    transition: all ease-in-out 0.05s;
    transform: scale(101%);
    background: linear-gradient(to right, #020022, #3dded9);
    animation: gradientAnimation 0.1s normal;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to right, #020022, #1f6b69);
    }
    25% {
        background: linear-gradient(to right, #020022, #2fa9a5);
    }
    50% {
        background: linear-gradient(to right, #020022, #31c7c4);
    }
    75% {
        background: linear-gradient(to right, #020022, #23ccc7);
    }
    100% {
        background: linear-gradient(to right, #020022, #3dded9);
    }
}

span {
    font-size: 20px
}

.click-effect {
    position: absolute;
    top: 50%;
    left: 50%;
}

.spike {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    width: 0;
    height: 0;
    background: #0d273c;
    border-radius: 0.3mm;
    transform: rotate(var(--angle)) translateY(var(--distance));
}

#spikeCount{
    font-size: large;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    width: 0;
    height: 0;
    color: #0aa27d;
    transform: rotate(var(--angle)) translateY(var(--distance));
}

.remover {
    display: none;
}

@keyframes animate {
    0% {
        width: 3px;
        height: 12px;
        opacity: 0;
        transform: rotate(var(--angle)) translateY(0);
    }
    2% {
        width: 4px;
        height: 16px;
        opacity: 1;
        transform: rotate(var(--angle)) translateY(0);
    }
    100% {
        width: 0;
        height: 0;
        opacity: 1;
        transform: rotate(var(--angle)) translateY(var(--distance));
    }
}


.effect .spike {
    animation: animate 0.45s;
}

