
.gametitle-custom {
    --bs-navbar-color: red;
}

.head {
    padding-top:1%;
}

#score {
    padding-top: 2%;
}
#Teemo{
    width: 63%;
    height: auto;
    margin-left: 20%;
}

.cookie {
    padding-top: 2%;
}
.abilities{
    margin-top: 3%;
}

.auto{
    margin-top: -25%;
    margin-left: 292%;
}

.shop {
    background: linear-gradient(73deg, #020022, #1f6b69);
    border: 2px solid rgb(198, 169, 3);
}

.Abilities-btn{
    background:linear-gradient(73deg, #020022, #1f6b69);
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(198, 169, 3);
}

.Abilities-btn:hover {
    border: 1px solid aquamarine;
}

.Abilities-btn:active {
    background:linear-gradient(73deg, #020022, #3dded9);
}

span {
    font-size: 20px
}

input[type="image" i] {
    cursor:url('../images/cursor.cur'),auto;
}